*{
	margin:0px;
	padding:0px;
	
}
body{
	 font-family: "Bubbler One",sans-serif;
}
h1 , h2 , h3 , h4 , h5 , h6{
	font-family: "Roboto",sans-serif;
    font-weight: 400;
	
}
.com{
	float:left;
	width:100%;

	}
/*------------------------Clearfix------------------------*/

.clear{
	clear:both;
}

/*-------------------------Header-------------------------*/

.head{
	background-color:#34495E;
	position:relative;
	box-sizing:border-box;
	padding:15px 0px;
}

.hwrap{
	max-width:1150px;
	width:100%;
	margin:auto;	
}

.logo{
	float:left;
	max-width:75px;
	height:50px;
	width:100%;
	margin-top:5px;
	color:#BAC1C5;
}

.logo img{
	max-width:100%;
}


.logo h1{
	margin-left:35px;
	
}

.logo h1 a{
	text-decoration:none;
	color:#BAC1C5;
}

.navdiv{
	max-width:500px;
	width:100%;
	float:right;
	font-size:15px;
}

.navdiv ul{
	list-style:none;
	padding:0px;
	margin:0px;
}

.navdiv li{
	float:left;
	margin-left:10px;
	margin:5px 5px;
}

.navdiv ul li>a{
	display:block;
	padding:10px 15px;
	text-decoration:none;
	color:#BAC1C5;
	border-radius:10px;
}

.navdiv ul li a:hover{
	background-color:#2C3E50;
	color:white;	
}

.navdiv ul li a:active{
	background-color:#2C3E50;
}

.logosty{
	max-width:300px;
}

/*--------------------------Banner------------------------*/

.banner{
	background-color:rgb(225,141,9);
	background-image:url('../img/banner/android-app-banner.jpg');
	background-repeat:no-repeat;
	background-position:50%;
	background-size:cover;
	animation-name:imgchg;
	animation-duration:10s;
	animation-direction:alternate;
	animation-iteration-count:infinite;
}

/*@keyframes imgchg{
	50%{background-image:url('../img/slider/bg2.jpg');}
	100%{background-image:url('../img/slider/bg3.jpg');}	
}*/

.bannerdiv{
	max-width:1150px;
	box-sizing:border-box;
	margin:auto; 
	height:660px;
	position:relative;
}

.fadeindiv{
	max-width:1150px;
	width:100%;
	padding:20px 0;
	text-align:center;
	position:absolute;
	top:0;
	left:100px;
	display:none;
}

.fadeindiv p{
	font-size:50px;
	font-weight:bold;
}

.stickydiv{
	background-color:#5e0231;
}

.instickydiv{
	max-width:1150px;
	margin:auto;
	padding:20px 0;
	position:relative;
	text-align:center;
}

.instickydiv p{
	font-weight:bold;
	font-size:20px;
}

.instickydiv a{
	color:white;
	text-decoration:none;
}

.sticky {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  border-top: 0;
}

/*------------------------WRAPPER--------------------------*/

.wrapper{
	position:relative;
	top:72px;
	z-index:-1;
}

/*--------------------SOCIAL MEDIA PART--------------------*/


/*-------------------------About Us------------------------*/
.subheadingsdiv{
	box-sizing:border-box;
	padding:35px 0px;
	color:white;	
}

.subheadings{
	font-size:30px;	
}

.subheadings1{
	font-size:15px;
}

.proj{
	max-width:1150px;
	margin:auto;
	box-sizing:border-box;
}

.projbor{
	padding:75px 0px;
}

.watvr{
	max-width:550px;
	width:100%;
	box-sizing:border-box;
	padding:8px	;
	float:left;
}

.watvr p{
	color:rgb(52,73,94);
}

.parahead{
	font-size:30px;
}

.parahead1{
	font-size:15px;
	margin-top:10px;
}

.ourskills{
	max-width:575px;
	width:100%;
	box-sizing:border-box;
	padding:10px 0;
	float:right;
	color:rgb(52,73,94);
}

.ourskills p{
	color:rgb(52,73,94);
	font-size:30px;
}

.scale1{
	max-width:575px;
	width:100%;
	background-color:white;
	height:30px;
	border-radius:4px;
	margin:10px 0 0 0;
}

.scale2{
	max-width:575px;
	width:100%;
	background-color:white;
	margin:10px 0 0 0;
	height:30px;
	border-radius:4px;
}

.scale3{
	max-width:575px;
	width:100%;
	background-color:white;
	margin:10px 0 0 0;
	height:30px;
	border-radius:4px;
}

.scale4{
	max-width:575px;
	width:100%;
	background-color:white;
	margin:10px 0 0 0;
	height:30px;
	border-radius:4px;
}

.scale5{
	max-width:575px;
	width:100%;
	background-color:white;
	margin:10px 0 10px 0;
	height:30px;
	border-radius:4px;
}

.scaleclr1{
	max-width:450px;
	width:100%;
	background-color:rgb(217,83,79);
	height:30px;
	border-radius:4px 0 0 4px;
	text-align:center;	
}

.scaleclr1 p{
	color:white;
	font-size:13px;
}

.scaleclr2{
	max-width:410px;
	width:100%;
	background-color:rgb(92,184,92);
	height:30px;
	border-radius:4px 0 0 4px;
	text-align:center;
	color:white;
}

.scaleclr2 p{
	color:white;
	font-size:13px;
}

.scaleclr3{
	max-width:275px;
	width:100%;
	background-color:rgb(66,139,202);
	height:30px;
	border-radius:4px 0 0 4px;
	text-align:center;
	color:white;
}

.scaleclr3 p{
	color:white;
	font-size:13px;
}

.scaleclr4{
	max-width:300px;
	width:100%;
	background-color:rgb(91,192,222);
	height:30px;
	border-radius:4px 0 0 4px;
	text-align:center;
	color:white;
}

.scaleclr4 p{
	color:white;
	font-size:13px;
}

.scaleclr5{
	max-width:450px;
	width:100%;
	background-color:rgb(240,173,78);
	height:30px;
	border-radius:4px 0 0 4px;
	text-align:center;
	color:white;
	font-size:15px;	
}

.scaleclr5 p{
	color:white;
	font-size:13px;
}
/*-------------------About Us Ends---------------*/


/*-------------------Services Starts---------------*/
.wattodo{
	max-width:1150px;
	width:100%;
	box-sizing:border-box;
	padding:20px;
	text-align:center;
	
}

.platname{
	max-width:370px;
	width:100%;
	
	box-sizing:border-box;
	padding:5px;
	float:left;
	margin:0 0 0 5px;	
}

.winlogo{
	width:70px;
	height:70px;
	float:left;
	background-color:rgba(0, 0, 0, 0.4);
	border-radius:50%;
	
}

.wintext{
	max-width:270px;
	width:100%;
	float:right;
}

.platforms1{
	max-width:1150px;
	width:100%;
	
	box-sizing:border-box;
	padding:40px 0;
	
}

.platforms2{
	max-width:1150px;
	width:100%;
	
	box-sizing:border-box;
	padding:40px 0;
	
}
/*-------------------Services ends---------------*/

/*------------------Portfolio starts---------------*/
.proj1{
	max-width:1150px;
	margin:auto;
	box-sizing:border-box;
	padding:10px;
	
	
}

.proj1divs{
	max-width:364px;
	width:100%;
	border:5px solid white;
	box-sizing:border-box;
	float:left;
	margin-left:8px;
	margin-top:10px;
}

.proj1divs img{
max-width:100%;
}
/*-------------------Portfolio ends---------------*/
.socialmedia{
	background-color:#2ECC71;	
}

.smcontent{
	max-width:1150px;
	width:100%;
	margin:auto;
	box-sizing:border-box;
	padding:20px;
	
}

.smdiv1,.smdiv2,.smdiv3{
	max-width:357px;
	width:100%;
	float:left;
	margin:40px 0 40px 0;
	box-sizing:border-box;
	padding:15px;
}

.imgdiv1{
	width:21%;
	float:left;
	text-align:center;
	
}

.circle{
	background-color: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    color: #fff;
    display: block;
    font-size: 36px;
    height: 68px;
    line-height: 68px;
    margin-right: 10px;
    text-align: center;
    transition: all 500ms ease 0s;
    width: 68px;
	
}

.twitimg{
	background-position:center center;
}

.content{
	float:right;
	width:73%;
	margin-left:15px;
	color:white;
	font-size:18px;
	
}

.smdiv1:hover .circle{
	border-radius:25%;
	background-color:#092917;
}

.smdiv2:hover .circle{
	border-radius:25%;
	background-color:#092917;
}
.smdiv3:hover .circle{
	border-radius:25%;
	background-color:#092917;
}

.platname:hover .winlogo{
	border-radius:25%;
	background-color:rgb(49,49,49);
	transition: all 500ms ease 0s;
}
/*----------------------------PROJECT DISPLAY--------------------------*/

.projdisplay{
	background-color: #E5E4E2;
	padding:20px 0;
}



/*-----------------------------slider img div---------------------------*/

.sliderbox{
	max-width:500px;
	width:100%;
	height:320px;
	margin:auto;
	overflow:hidden;
	
}

.imgstyle{
	width:500px;
	height:300px;
	float: left;
    margin: 0px;
    padding: 0px;
    position: relative;
	}

.imgholder{
	width:1500px;
	height:300px;
	clear: both;
	position: relative;
	-webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
    transition: left 2s;
	left:0;
}

.button-holder{
	position:relative;
	bottom:0px;
	left:0;
	text-align:center;
}

.slider-change{
	border-radius:5px;
	width:10px;
	height:10px;
	display:inline-block;
	background-color:#34495E;
}

.btn-move-img1{
	left:0px;
}

.btn-move-img2{
	left:-500px;
}

.btn-move-img3{
	left:-1000px;
}

/*----------------------------slider img div ends---------------------------*/
.projimgs1{
	
	max-width:270px;
	width:100%;
	float:left;
	margin:40px 0 40px 0;
}

.projimgs2{
	border:5px solid white;
	max-width:260px;
	width:100%;
	float:left;
	margin-left:5px;
	background-color:white;
	color:black;
	position:relative;
	margin:40px 0 40px 0;
}

.projimgs3{
	border:5px solid white;
	max-width:260px;
	width:100%;
	float:left;
	margin-left:5px;
	background-color:white;
	color:black;
	position:relative;
	margin:40px 0 40px 0;
}

.projimgs4{
	border:5px solid white;
	max-width:260px;
	width:100%;
	float:left;
	margin-left:5px;
	background-color:white;
	color:black;
	position:relative;
	margin:40px 0 40px 0;
}

span{
	font-weight:bold;
	font-size:15px;
	
}

.overlay{
	background: rgba(255, 255, 255, 0.9) none repeat scroll 0 0;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    text-align: center;
    top: 0;
    transition: opacity 300ms ease 0s;
    vertical-align: middle;
    width: 100%;
}

/*---------------------------------HOVER PART-----------------------------*/

.projimgs2:hover .overlay
{
	opacity:1;
	
}

.projimgs3:hover .overlay
{
	opacity:1;
	
}

.projimgs4:hover .overlay
{
	opacity:1;
	
}
.eye{
	margin-top:140px;
}

.eyelink{

}

/*----------------------------------FEED BACK---------------------------------*/

.feedback{
	background-color:rgb(231,76,60);
}

.fbcontent{
	padding:20px 0;
	max-width:1150px;
	width:100%;
	margin:auto;
	
}

.fbcontenthead{
	width:100%;
	text-align:center;
	margin-top:35px;
}

h2{
	color:white;
}
	

.cuscontent{
	width:100%;
	margin-top:20px;
}

.row1{
	width:100%;
	padding:10px 0;
	margin-top:50px;
	text-align:center;
}
.row2{
	width:100%;
	padding:10px 0;
	margin-top:20px;
	margin-bottom:50px;
	text-align:center;
}

.row1contant{
	max-width:550px;
	width:100%;
	color:white;
	border-left:5px solid white;
	float:left;
	margin-top:10px;
	padding:20px 0px;
}

.row2contant{
	max-width:550px;
	width:100%;
	color:white;
	border-left:5px solid white;
	float:left;
	margin-top:10px;
	padding:20px 0px;
}

/*-------------------------------BEFORE FOOTER----------------------------*/

.details{
	background-color:rgb(52,73,94);
}

.detailsdiv{
	max-width:1150px;
	width:100%;
	margin:auto;
	
	box-sizing:border-box;
	padding:10px 0;
}

.detailsdiv1{
	max-width:285px;
	width:100%;
	
	float:left;
	padding:5px 0;
		
}

.detailsdiv2{
	max-width:285px;
	width:100%;
	
	float:left;
	padding:5px 0;
}

.detailsdiv3{
	max-width:285px;
	width:100%;
	
	float:left;
	padding:5px 0;
}

.detailsdiv4{
	max-width:285px;
	width:100%;
	
	float:left;
	padding:5px 0;
}

.cat1{
	font-size:14px;
	
}

.detailsdiv h4{
	color:white;
}

.detailsdiv p{
	color:#BAC1C5;
}

.detailsdiv1 p{
	margin-top:15px;
}
.detailsdiv2 ul{
	padding:0px;
	margin:0px;
}

.detailsdiv2 h4{
	
}
.detailsdiv2 ul {
	margin-top:15px;
}
.detailsdiv2 ul li{
	list-style:none;
	color:#BAC1C5;
	margin-left:15px;
	font-size:14px;
	
}

.imgcontent{
	width:100%;
	
}

.imgcontent1{
	width:100%;
	
	margin-top:15px;
}

.thumbimg1{
	float:left;
	max-width:70px;
	width:100%;
	
}

.thumbimg1cont{
	float:left;
	max-width:160px;
	width:100%;
	margin-left:5px;
}

.detailsdiv4 p{
	margin-top:15px;
}

/*---------------------------------------FOOTER--------------------------*/

.footer{
	background-color:rgb(44,62,80);
	
}

.infooter{
	max-width:1150px;
	width:100%;
	margin:auto;
	
}
.rightsreserved{
	max-width:300px;
	width:100%;
	float:left;
	padding:30px 0px;
	
	
}
.rightsreserved p{
	color:#BAC1C5;
	font-size:14px;	
}
.bottommenu{
	float:right;
	max-width:350px;
	width:100%;
	padding:30px 0px;
	
	
}
.bottommenu ul{
	padding:0px;
	margin:0px;
}

.bottommenu ul li{
	float:left;
	list-style:none;
	font-size:14px;
	color:#BAC1C5;
	margin-left:10px;
}

